*::selection {
  background: $pink;
}

html {
  box-sizing: border-box;
  background-color: $BackgroundColor;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0;
  color: white;
  background-image: url($BackgroundImage);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a,
a:link,
a:visited {
  // text-decoration: none;
  color: white;
}

button {
  cursor: pointer;

  a {
    text-decoration: none;
  }
}

p {
  hyphens: auto;
}

img {
  display: block;
  border: none;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  position: relative;
  width: 149px;
  height: 160px;
  overflow: hidden;
  line-height: 2000%;
  margin: 0 auto;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($AngularHamburgLogo);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

h2 {
  text-align: center;
  font-weight: normal;
  margin: 1em auto;
}

p.cta {
  display: flex;
  justify-content: center;
}


a.button,
a.button:link,
a.button:visited {
  text-decoration: none;
  display: inline-block;
  background-color: $Red;
  border-radius: 3px;
  color: white;
  padding: 0.8em 1.2em;
  box-shadow: 0px 2px 12px hsla(0, 0%, 0%, 0.5);

  &:hover {
    background-color: shade($Red, 15%);
  }

  &:active {
    background-color: shade($Red, 30%);
    box-shadow: 0px 1px 12px hsla(0, 0%, 0%, 0.8);
  }
}

footer,
section {
  width: 50vw;
  margin: 0 auto;
  line-height: 140%;
  padding: 1em 0;
}

footer {
  text-align: center;
}

.listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    flex-basis: 33%;
    text-align: center;
  }
}

figure {
  margin: 0;
  width: 100%;
  overflow: hidden;

  img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
